.back .glyphicon-chevron-left {
    position: relative;
    top: 2px;
}

.back a {
    text-decoration: none;
}

.back {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15px;
    padding-top: 5px;
}

.links-list {
    list-style: none;
    padding-left: 0px;
    font-size: 17px;
    line-height: 28px;
}